<div class="notification">
  <div class="notification-wrapper">
    <div class="notification-icon"><img src={{image}} alt="Ошибка" /></div>
    <p class="notification-message">{{message}}</p>
    {{{close}}}
  </div>
</div>