<div class="companion">
    <div class="companion__left">
        {{> small_avatar/small_avatar }}
        <span class="companion__name">Андрей</span>
    </div>
    {{> actions/actions }}
</div>