.search {
  &__label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    pointer-events: none;
  }

  &__text {
    margin: 0 0 0 4px;
    font-size: 12px;
    color: $grey3;
  }
}
