.profile_item {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $grey2;
  &__key {
    font-size: 13px;
    color: $textBlack;
  }
  &__value {
    color: $grey3;
  }
}
