@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");

// Variables
@import "variables.scss";

// Mixins
@import "mixins.scss";

// Pages
@import "chats.scss";
@import "profile.scss";

// Components
@import "../components/input/input.scss";
@import "../components/label/label.scss";
@import "../components/field/field.scss";
@import "../components/button/button.scss";
@import "../components/arrowButton/arrowButton.scss";
@import "../components/roundedButton/roundedButton.scss";
@import "../components/avatar/avatar.scss";
@import "../components/smallAvatar/smallAvatar.scss";
@import "../components/profileItem/profileItem.scss";
@import "../components/action/action.scss";
@import "../components/profileLink/profileLink.scss";
@import "../components/search/search.scss";
@import "../components/chatItem/chatItem.scss";
@import "../components/empty/empty.scss";
@import "../components/messageActionsArea/messageActionsArea.scss";
@import "../components/companion/companion.scss";
@import "../components/actions/actions.scss";
@import "../components/actionText/actionText.scss";
@import "../components/messageBlock/messageBlock.scss";
@import "../components/chatMessage/chatMessage.scss";
@import "../components/dialog/dialog.scss";
@import "../components/editForm/editForm.scss";
@import "../components/editFormInput/editFormInput.scss";
@import "../components/icons8/icons8.scss";
@import "../components/form/form.scss";
@import "../components/title/title.scss";
@import "../components/link/link.scss";
@import "../components/error/error.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  @include flex-col();
  justify-content: center;
  align-items: center;
}

.form-title {
  color: $textBlack;
  font-size: 20px;
  font-weight: 500;
}

.padding {
  padding: 20px 0;
}

.padding2 {
  padding: 10px 15px;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.text_decoration_none {
  text-decoration: none;
}

.blue_link {
  font-size: 11px;
  color: $blue;
  transition: color 0.2s ease;
  &:hover {
    color: $buttonHoverBackgroundColor;
  }
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.rotate-180deg {
  transform: rotate(180deg);
}

.relative {
  position: relative;
}

.form_wrapper {
  width: 90%;
  max-width: 340px;
}
