.flexColHorisontalCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileBody {
  &__actions {
    margin: 20px 0 0;
  }
}

@media (min-width: $md) {
  .profileBody {
    @include flex-center;

    &__data {
      width: 40vw;
    }
  }
}
