.flex-col-horisontal-center {
  @include flex-col();
  align-items: center;
}

.profile_body {
  &__actions {
    margin: 20px 0 0 0;
  }
}

@media (min-width: $md) {
  .profile_body {
    @include flex-center();
  }

  .profile_body__data {
    width: 40vw;
  }
}
