// Colors
$textBlack: #1e1e1e;
$blue: #3369f3;
$lightBlue: #e4edfd;
$buttonHoverBackgroundColor: #2b58ca;
$white: white;
$grey: #fbfbfb;
$grey2: #eaeaea;
$grey3: #999;
$grey4: #efefef;
$grey5: #f8f8f8;
$red: #ff2f2f;

// Breakpoints
$xxs: "320px";
$xs: "425px";
$sm: "576px";
$md: "768px";
$lg: "992px";
$xl: "1200px";
$xxl: "1400px";
$xxxl: "1920px";
