<div class="message_block">
  <div class="message_block__date">{{dateString}}</div>
   {{> companion_message/companion_message text="Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой. Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро." timeString="11:56" }}
   {{> companion_message_image/companion_message_image src="/static/images/camera.png" alt="Камера" timeString="11:52" }}
   {{> user_message/user_message text="Супер!" timeString="11:00" }}
</div>
