<div class="flex-col-horisontal-center">
  <div class="message-wrapper">
    <h1 class="message-wrapper__code">{{code}}</h1>
    <p class="message-wrapper__message">{{message}}</p>
  </div>
  {{> atoms/link/link href="chats.hbs" text="Назад к чатам" class="link blue_link"  }}
</div>