<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/global.scss" />
    <title>Profile</title>
  </head>
  <body class="profile_body padding2">
    <main>
    {{#> back_area/back_area }}
    {{> back/back type="button" }}
    {{/back_area/back_area}}
    {{#> wrapper/wrapper class="flex-col-horisontal-center profile_body__data" }}
    {{#> avatar/avatar style="margin:0 0 30px 0" }}
    <img src="/static/icons/avatar.svg" alt="Аватар">
    {{/avatar/avatar}}
    <p>Иван</p>
    <div class="full-width" style="margin: 20px 0 0 0;">
      {{> profile_item/profile_item key="Почта" value="pochta@yandex.ru"}}
      {{> profile_item/profile_item key="Логин" value="ivanivanov"}}
      {{> profile_item/profile_item key="Имя" value="Иван"}}
      {{> profile_item/profile_item key="Фамилия" value="Иванов"}}
      {{> profile_item/profile_item key="Имя в чате" value="Иван"}}
      {{> profile_item/profile_item key="Телефон" value="+7 (909) 967 30 30" style="border-bottom:none"}}
      <div style="margin:20px 0 0 0">
      {{> action/action href="edit.hbs" text="Изменить данные" textStyle="color:#3369F3" }}
      {{> action/action href="edit_password.hbs" text="Изменить пароль" textStyle="color:#3369F3"}}
      {{> action/action href="index.hbs" text="Выйти" style="border-bottom:none" textStyle="color:#FF0000" }}
      </div>
    </div>
    {{/wrapper/wrapper}}
    </main>
  </body>
</html>
