<div class="full-width chat_item">
  {{> atoms/small_avatar/small_avatar }}
  <div class="chat_item__middle">
    <span class="chat_item__name">{{name}}</span>
    <p class="chat_item__message">{{lastMessage}}</p>
  </div>
  <div class="chat_item__end">
    <span class="chat_item__last-message-time">{{lastMessageTime}}</span>
    <span class="chat_item__unread-messages-count">
      {{unreadMessagesCount}}
    </span>
  </div>
</div>