.field {
  display: flex;
  flex-direction: column;
  border: none;
  border-bottom: 1px solid $blue;
  margin-bottom: 16px;
  &__message {
    position: absolute;
    font-size: 8px;
    opacity: 0;
    bottom: -10px;
    color: $red;
    transition: opacity 0.3s ease, bottom 0.3s ease;
    &_appear {
      opacity: 1;
      bottom: -14px;
    }
  }
}
