.messageActionsArea {
  padding: 10px 0;
  align-items: center;
  align-self: flex-end;
  border-top: 1px solid $grey2;

  &__attach {
    margin: 0 14px 0 0;
    cursor: pointer;
  }

  &__input {
    margin: 0 10px 0 0;
    padding: 10px 20px;
    flex-grow: 1;
    background: $grey4;
    border: none;
    border-radius: 30px;
    color: $textBlack;
    font-size: 13px;
    outline: none;
  }
}
