<div class="flex overflow-x-hidden">
  <div class="chats_block">
    <div class="full-width chats_block__top">
      {{{profileLink}}}
      {{{search}}}
    </div>
    <div class="chats_block__bottom full-width">{{{chats}}}</div>
  </div>
  {{{right}}}
</div>