<div class="flex overflowXHidden">
  <div class="chatsBlock">
    <div class="fullWidth chatsBlock__top">
      {{{profileLink}}}
      {{{search}}}
    </div>
    <div class="chatsBlock__bottom fullWidth">{{{chats}}}</div>
  </div>
  {{{right}}}
</div>