<div class="dialog">
    {{> companion/companion }}
    <div class="dialog__area">
      {{> message_block/message_block dateString="19 июня" }}
    </div>
    {{> message_actions_area/message_actions_area }}
</div>
