<div class="full-width search">
    <div class="search__label">
        <img src="/static/icons/search.svg" alt="Поиск">
        <span class="search__text">Поиск</span>
    </div>
    {{> input/input type="text" class="search__input" }}
</div>