<form class="flex message_actions_area full-width">
  <img
    src="/static/icons/attach.svg"
    alt="Прикрепить"
    class="message_actions_area__attach"
  />
  {{> input/input placeholder="Сообщение" type="text" class="message_actions_area__input" }}
  {{> back/back type="submit" arrowClasses="rotate-180deg" }}
</form>
