.messageBlock {
  @include flex-col;

  margin: 0 0 48px;

  &__date {
    margin: 0 0 38px;
    font-size: 12px;
    text-align: center;
    color: $grey3;
  }

  &:last-child {
    margin: 0;
  }
}
