.avatar {
  @include flex-center();
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: $grey2;
  position: relative;
  overflow: hidden;
  &:hover &__mask {
    transform: translateY(0);
  }
  &__mask {
    @include flex-center();
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 13px;
    color: $white;
    background: #000000;
    opacity: 0.5;
    transition: transform 0.1s ease-out;
    transform: translateY(100%);
  }
  &__input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &__image {
    background-image: url("/static/icons/avatar.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
