.companion_message_image {
  position: relative;
  margin: 0 0 10px 0;
  border: 1px solid $grey2;
  padding: 10px;
  max-width: 316px;
  border-radius: 12px;
  border-top-left-radius: 0;
  &__time {
    @include flex-center();
    position: absolute;
    right: 11px;
    bottom: 11px;
    padding: 2px 7px;
    background: rgba(82, 82, 82, 0.5);
    border-radius: 30px;
    font-size: 9px;
    color: $white;
  }
}
