<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/global.scss" />
    <title>Chats</title>
  </head>
  <body class="flex overflow-x-hidden">
    <div class="chats_block">
      <div class="full-width chats_block__top">
      {{> molecules/profile_link/profile_link }}
      {{> molecules/search/search }}
      </div>
      <div style="width:100%">
         {{> molecules/chat_item/chat_item name="Андрей" lastMessage="Привет" lastMessageTime="10:57" unreadMessagesCount="2" }}
         {{> molecules/chat_item/chat_item name="Андрей" lastMessage="Привет" lastMessageTime="10:57" unreadMessagesCount="2" }}
         {{> molecules/chat_item/chat_item name="Андрей" lastMessage="Привет" lastMessageTime="10:57" unreadMessagesCount="2" }}
         {{> molecules/chat_item/chat_item name="Андрей" lastMessage="Привет" lastMessageTime="10:57" unreadMessagesCount="2" }}
         {{> molecules/chat_item/chat_item name="Андрей" lastMessage="Привет" lastMessageTime="10:57" unreadMessagesCount="2" }}
         {{> molecules/chat_item/chat_item name="Андрей" lastMessage="Привет" lastMessageTime="10:57" unreadMessagesCount="2" }}
         {{> molecules/chat_item/chat_item name="Андрей" lastMessage="Привет" lastMessageTime="10:57" unreadMessagesCount="2" }}
         {{> molecules/chat_item/chat_item name="Андрей" lastMessage="Привет" lastMessageTime="10:57" unreadMessagesCount="2" }}
         {{> molecules/chat_item/chat_item name="Андрей" lastMessage="Привет" lastMessageTime="10:57" unreadMessagesCount="2" }}
         {{> molecules/chat_item/chat_item name="Андрей" lastMessage="Привет" lastMessageTime="10:57" unreadMessagesCount="2" }}
         {{> molecules/chat_item/chat_item name="Андрей" lastMessage="Привет" lastMessageTime="10:57" unreadMessagesCount="2" }}
         {{> molecules/chat_item/chat_item name="Андрей" lastMessage="Привет" lastMessageTime="10:57" unreadMessagesCount="2" }}
         {{> molecules/chat_item/chat_item name="Андрей" lastMessage="Привет" lastMessageTime="10:57" unreadMessagesCount="2" }}
         {{> molecules/chat_item/chat_item name="Андрей" lastMessage="Привет" lastMessageTime="10:57" unreadMessagesCount="2" }}
         {{> molecules/chat_item/chat_item name="Андрей" lastMessage="Привет" lastMessageTime="10:57" unreadMessagesCount="2" }}
      </div>
    </div>
    {{> organisms/dialog/dialog }}
  </body>
</html>