<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/global.scss" />
    <title>Sign up</title>
  </head>
  <body class="padding flex-center">
    {{#> atoms/modal/modal class="modal"}}
    {{> atoms/title/title text="Регистрация" style="margin:0 0 40px 0" }}
    {{#> atoms/wrapper/wrapper class="full-width" style="margin:0 0 47px 0" }}
    {{#> molecules/field/field class="full-width field" }}
    {{> atoms/label/label text="Почта" for="email" class="label" }}
    {{> atoms/input/input type="email" id="email" class="input" }}
    {{/molecules/field/field}}
    {{#> molecules/field/field class="full-width field" }}
    {{> atoms/label/label text="Логин" for="login" class="label" }}
    {{> atoms/input/input type="text" id="login" class="input" }}
    {{/molecules/field/field}}
    {{#> molecules/field/field class="full-width field" }}
    {{> atoms/label/label text="Имя" for="first_name" class="label" }}
    {{> atoms/input/input type="text" id="first_name" class="input" }}
    {{/molecules/field/field}}
    {{#> molecules/field/field class="full-width field" }}
    {{> atoms/label/label text="Фамилия" for="second_name" class="label" }}
    {{> atoms/input/input type="text" id="second_name" class="input" }}
    {{/molecules/field/field}}
    {{#> molecules/field/field class="full-width field" }}
    {{> atoms/label/label text="Телефон" for="phone" class="label" }}
    {{> atoms/input/input type="tel" id="phone" class="input" }}
    {{/molecules/field/field}}
    {{#> molecules/field/field class="full-width field" }}
    {{> atoms/label/label text="Пароль" for="password" class="label" }}
    {{> atoms/input/input type="password" id="password" class="input" }}
    {{/molecules/field/field}}
    {{#> molecules/field/field class="full-width field" }}
    {{> atoms/label/label text="Пароль (ещё раз)" for="password_again" class="label" }}
    {{> atoms/input/input type="password" id="password_again" class="input" }}
    {{/molecules/field/field}}
    {{/atoms/wrapper/wrapper}}
    {{> atoms/button/button type="submit" text="Зарегистрироваться" class="full-width button" style="margin:0 0 14px 0" }}
    {{> atoms/link/link href="sign_in.hbs" text="Войти" class="link blue_link" }}
    {{/atoms/modal/modal}}
  </body>
</html>