<div class="companion">
    <div class="companion__left">
        {{> atoms/small_avatar/small_avatar }}
        <span class="companion__name">Андрей</span>
    </div>
    {{> molecules/actions/actions }}
</div>