<div class="dialog">
    {{> molecules/companion/companion }}
    <div class="dialog__area">
      {{> molecules/message_block/message_block dateString="19 июня" }}
    </div>
    {{> molecules/message_actions_area/message_actions_area }}
</div>