<div class="icons8"><a
    class="icons8__icon"
    target="_blank"
    href="https://icons8.com/icon/SxDZAUXQeW2y/messages"
  >Иконка "Messages"</a>
  от
  <a
    class="icons8__company"
    target="_blank"
    href="https://icons8.com"
  >Icons8</a></div>
