.link {
  font-size: 11px;
  color: $blue;
  transition: color 0.2s ease;
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    color: $buttonHoverBackgroundColor;
  }
}
